@charset "utf-8";
*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:14px;color: #333;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased}
body{line-height:1.6}
h1,h2,h3,h4,h5,h6{font-size:100%}
h1{
	color: rgb(100,100,100);
}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer; color:#333;}
a:hover{outline:none;}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none;}:focus{outline:none}
sub,sup{vertical-align:baseline}
/*img*/
img{border:0;vertical-align:middle;}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}
/*IE下a:hover 背景闪烁*/
html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

/*清除浮动*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cl,.clearfix{zoom:1}

/*公共容器*/
.wrapper{
	width: 1080px;
	margin: 0 auto;
}

/*页眉部分*/
.header .logo{
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
}
.header .logo h1{
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
}
.nav{
	padding-right: 10px;
	padding-left: 10px;
}
.nav .nav-item{
	float: left;
	font-size: 20px;
	text-align: center;
	width: 12.25%;
	box-sizing: border-box;
	border-left: 1px solid #c9c9c9;
}
.nav .nav-item:first-child{
	border-left: 0;
}
.nav .nav-item a{
	display: block;
	padding: 8px 0;
}
.nav .nav-item span{
	display: block;
	font-size: 12px;
	color: #808080;
}
.nav .nav-item a{
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}
.nav .nav-item:hover a{
	background: #f00;
	color: #fff;
}


/*页脚部分*/
.footer{
	background: #000000;
	text-align: bottom;
	color: #fff;
	padding: 24px 0;
	font-size: 12px;
}
.friend-link{
	margin-bottom: 25px;
}
.friend-link a{
	display: inline-block;
	color: #fff;
	padding: 0 20px;
	font-size: 14px;
}
.footer p.support a{
	color: #fff;
}

.allin {
	width: 1080px;
}

p{
	line-height: normal;
}

a{
	line-height: normal;
}
